<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>COVID-19 MOTION CHART</title>

    <link rel = "icon" href = "../static/img/corona.png" type = "image/x-icon">

	<script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
    <link rel="stylesheet" type="text/css" href="https://github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="../static/js/index.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">

</head>
<body>
    <h1 id="header"></h1>
    <div class="container" id="date">
        <div id="motion"></div>
        <output id="play-output" for="play-range" name="year"></output>
    </div>
    <div id="play-controls">
        <button id="play-pause-button" class="fa fa-play" title="play"></button>
        <input id="play-range" type="range" value="0" min="0" max="0" />
    </div>
</body>
</html>
<script>

</script>